@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto&family=Yesteryear&display=swap');

$font-family: "Source Sans Pro", sans-serif;
$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$grey: #dddddd;
$navy: #1450a0;

$yellow: 	#ceb441;
$orange: 	#fc8939;
$red: 	#ac3032;
$violet: rgb(195, 65, 143);
$purple: #3b2a4e;
$blue: #6de6ab;
$dark-blue:rgb(39, 32, 56);

$dark-background  : #222f3e;

$spacing: 2rem;