@import '../variables.scss';

.pagebar{
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  padding: 1rem;
  background-color: $grey;
  justify-content: center;
  &--search{
    width: 40rem;
  }
  h1{
    font-family: "Yesteryear";
    color: $grey;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}