@import '../variables.scss';

.pagebar{
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  padding: 1rem;
  background-color: $black;
  justify-content: center;
  &--search{
    width: 40rem;
  }
  h1{
    font-family: "Roboto";
    color: $grey;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}